 <!-- FOOTER -->
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">VỀ CHÚNG TÔI</h3>
						<p>Cửa hàng HKSHOP chuyên cung cấp các đồ dung công nghệ tiên tiến, mới nhất hiện tại</p>
						<ul class="footer-links">
							<li><a href="#"><i class="fa fa-map-marker"></i>KTX khu B, DHQG</a></li>
							<li><a href="#"><i class="fa fa-phone"></i>+8485-898-1798</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>nvk.work@outlook.com</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">DANH MỤC</h3>
						<ul class="footer-links">
							<li><a href="/HangHoa">Cửa hàng</a></li>
							<li><a href="/HangHoa?MaLoai=1001">Laptops</a></li>
							<li><a href="/HangHoa?MaLoai=1003">Điện thoại</a></li>
							<li><a href="/HangHoa?MaLoai=1002">Máy ảnh</a></li>
							<li><a href="/HangHoa?MaLoai=1000">Đồng hồ</a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">THÔNG TIN</h3>
						<ul class="footer-links">
							<li><a href="/blank">Về chúng tôi</a></li>
							<li><a href="/blank">Liên hệ</a></li>
							<li><a href="/blank">Luật riêng tư</a></li>
							<li><a href="/blank">Quy định</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">DỊCH VỤ</h3>
						<ul class="footer-links">
							<li><a href="/Profile">Tài khoản của tôi</a></li>
							<li><a href="/Cart">Giỏ hàng</a></li>
							<li><a href="/blank">Ưu thích</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->
	<!-- bottom footer -->
	<div id="bottom-footer" class="section">
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-payments">
						<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
						<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
						<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
					</ul>
					<span class="copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy; 2025 All rights reserved | Website được tạo <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Original NVK</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>

				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bottom footer -->

</footer>
<!-- /FOOTER -->