<h1 class="text-center mt-4 text-success">Cảm ơn các bạn đã truy cập vào trang web của HKSHOP <br /><span class="text-center w-100"><i class="fa fa-heart text-danger"></i> <!-- Trái tim màu đỏ --></span></h1>
