
@{
    ViewData["Title"] = "success";
}

<!-- Success Section -->
<div class="success-section">
    <span class="material-symbols-outlined icon">
        check_circle
    </span>
    <h1>ĐẶT HÀNG THÀNH CÔNG</h1>
    <div>
        <a href="/" class="btn btn-primary">QUAY VỀ TRANG CHỦ</a>
        <a href="/HangHoa" class="btn btn-secondary">XEM HÀNG HÓA</a>
    </div>
</div>

